<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>jumbyl</title>

  <style>
    * { margin: 0; padding: 0;}

    h1, h2, h3, h4, h5, h6, p, ol, ul, pre {
      margin-bottom: 0.8em;
    }

    html, body { height: 100%;  }

    body {
      font-family: Helvetica Neue, Arial, sans-serif;
      line-height: 1.3;
      margin: 0;
      background: #333;
      width: 100%;
      /* http://flexiejs.com/playground/ */
      display: -webkit-box;
      display:    -moz-box;
      display:         box;
      -webkit-box-align: center;
         -moz-box-align: center;
              box-align: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
              box-pack: center;
    }


    #content {
      max-width: 470px;
    
    }

    #message {
      border-radius: 10px;
      background: #EEE;
      padding: 20px;
      margin: 10px;
      box-shadow:
        0 0 200px 10px hsla(0, 0%, 100%, 0.5),
        inset 0 1px 1px 1px white
      ;
      color: #777;
    }

    #message p {
      font-size: 20px;
    }

    #message h1 {
      margin-bottom: 0.4em;
    }

    #footer {
      text-align: center;
      color: white;
    }

    #footer a {
      text-decoration: none;
      color: white;
    }

    #footer a:hover { text-decoration: underline; }
    
  </style>

</head>
<body>

<div id="content">
  <div id="message">
    {{{yield}}}
  </div>
  <p id="footer"><a href="#">jumbyl</a></p>
</div>

</body>
</html>
